<div id="container">

  <form align="center" id="login_input" action="/login" method="POST">
   <ul>
     <li>
       <input type="text" name="user[name]" placeholder="name">
     </li>

     <li>
       <input type="text" name="user[password]" placeholder="password">
     </li>

     <li>
       <button type="submit">Login</button>
     </li>
   </ul>
  </form>


</div>