<div id="container">

  <form align="center"  id="register_input" action="/register" method="POST">
   <ul>
     <li>
       <input type="text" name="user[name]" placeholder="name">
     </li>
     <li>
       <input type="text" name="user[email]" placeholder="email">
     </li>
     <li>
       <input type="text" name="user[password]" placeholder="password">
     </li>
     <li>
       <input type="text" name="user[password_confirmation]" placeholder="password confirmation">
     </li>
     <li>
       <button type="submit">Register</button>
     </li>
   </ul>
  </form>


</div>