<div id="container">

  <form id="post_input" action="/posts" method="POST">
   <ul>
     <li>
       <input type="text" name="post[who]" placeholder="who?">
     </li>
     <li>
       <textarea type="text" placeholder="said what..?" rows="2" cols="50" name= "post[quote]"></textarea><br>
     </li>
     <li>
       <button type="submit">Submit</button>
     </li>
   </ul>
  </form>


</div>