<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link href='//fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Comment line above and uncomment line below if working offline -->
  <!-- <script type="js/jquery-1.11.1.min.js"></script> -->
  <script src="/js/app.js"></script>

  <title>O @ D</title>
</head>

  <div class="wrapper">
    <body>
      <header>
        <h1>Overheard at DBC</h1>
        <img src = "/images/Open-mouth-psd98347.png">

        <nav role="navigation">
          <ul>
            <li><a href = "/">Home</a></li>


            <% if current_user %>
              <li><a href = "/posts/new">New</a></li>
              <li><a href = "/logout">Logout</a></li>
            <% else %>
              <li><a href = "/login">Log In</a></li>
              <li><a href = "/register">Register</a></li>
            <% end %>

          </ul>
        </nav>

      </header>


      <%= yield %>
    </body>
  </div>
</html>
